/*------------------------------------*\
    #BASE
\*------------------------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

::-moz-selection {
    background: $c-primary;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: $c-primary;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  max-width: 100%;
}

body {
    background-color: #fff;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 35em;
}

.main {
    margin: 3.2em 1em 1.6em;

    &:focus {
        outline: none;
    }


    @include mq($from: tablet){
        margin-top: 6.4em;
    }
}
