<header class="header" role="banner">
    <a href="#navigation" class="skip-link">Aller au menu</a>
    <a href="#content" class="skip-link">Aller au contenu</a>


    <div class="wrapper">
      {% if page.url == "/" %}
         <h1>
      {% endif %}
      <a class="header__logo" href="{{ site.baseurl }}/" title="Retour à l'accueil {{ site.title }}">
        <img src="{{site.baseurl}}/img/logo.svg" alt="">
        <span class="sr-only">Christophe HERMANN - Blog</span>
      </a>
      {% if page.url == "/" %}
         </h1>
      {% endif %}

      <nav class="main-nav" role="navigation" id="navigation">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>


    <button class="header-nightmode js-nightmode" data-mode="day">
      <span class="header-nightmode__day">
        <span class="sr-only">Afficher le mode de lecture pour un environnement lumineux</span>
        <svg class="icon-icon-sun"><use xlink:href="#icon-icon-sun"></use></svg>
      </span>
      <span class="header-nightmode__night">
        <span class="sr-only">Afficher le mode de lecture pour un environnement faible en lumière</span>
        <svg class="icon-icon-moon"><use xlink:href="#icon-icon-moon"></use></svg>
      </span>
    </button>
</header>
