/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.footer {
	background-color: rgba(#000, .05);
	margin-top: 6.4em;
	padding: .8em 0;
	text-align: center;

	p {
		font-size: .775em;
		margin: 1.025em 0;
	}


	@include mq($from: tablet){
		text-align: left;

		.wrapper {
			display: flex;
			justify-content: space-between;

			> * {
				flex: 1;
			}
		}
	}
}





/* Social */
.footer-social {
	@extend %unstyled-list;
	font-size: .775em;
	margin: 1.025em 0;

	li {
		vertical-align: middle;
		display: inline-block;

		+ li {
			margin-left: 1em;
		}
	}

	a {
		&[href*="twitter"] {
			&:after {
				background-color: #55acee;
			}
		}

		&[href*="dribbble"] {
			&:after {
				background-color: #ea4c89;
			}
		}

		&[href*="github"] {
			&:after {
				background-color: #4183c4;
			}
		}

		&:hover,
		&:focus {
			color: #fff;
		}
	}


	@include mq($from: tablet){
		text-align: right;
	}
}