/**
 * CONTENTS
 *
 * VARIABLES
 * Colors........... All website colors
 * Themes........... Themes for clinic
 * Typography....... Font-family, font-size, line-height
 * Buttons.......... Buttons informations
 * Form............. Input, select style
 * Media Queries ... Breakpoint for responsive
 * Grid ............ Grid col and gutter
 */



/*------------------------------------*\
    #COLORS
\*------------------------------------*/
$c-primary: #334368;
$c-secondary: #9d9ea1;


/* Gray and others */
$c-lightgray:   #e3e3e3;
$c-medgray:     #999;


/* Text color */
$c-txt:             #48494c;


/* Links colors */
$c-link:            $c-primary;
$c-hover:           $c-primary;
$c-visited:         darken($c-link, 10%);


/* Notifications colors */
$message-types: (
  error : #80262c,
  warn  : #f0ad4e,
  success : #318026,
  info  : #5bc0de
);




/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
$ff-sans-serif: 'PT Sans', Arial, Helvetica, sans-serif;
$ff-serif: 'PT Serif', Georgia, "Times New Roman", serif;
$ff-heading: 'PT Sans', Impact, sans-serif;



/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
$btn-radius:      0;
$btn-padding:     .315em 1em;
$btn-border:      0;



/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/
// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    mobile:  26em,
    tablet:  42em,
    desktop: 55em,
    wide:    66em,

    // Tweakpoints
    phablet: 33em,
    mobileLandscape: 26em
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
$mq-show-breakpoints: ();
