/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
[class*="btn-"] {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1.25em;
    text-align: center;
    border: 0;
    font-size: .67em;
    text-transform: uppercase;
    font-family: $ff-sans-serif;
    line-height: 2.335;
    font-weight: bold;
    background-color: transparent;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;
    }

    &:after,
    &:before {
        display: none;
    }

    [class*="icon-"] {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: .5rem;
    }
}


.btn-primary {
    outline: 1px solid $c-primary;
    background-color: transparent;
    color: $c-primary;

    &:hover,
    &:focus {
        background-color: $c-primary;
        color: #fff;
    }
}


.btn-secondary {
    outline: 1px solid rgba(#000, .5);
    background-color: transparent;
    color: rgba(#000, .5);

    &:hover,
    &:focus {
        background-color: rgba(#000, .5);
        color: #fff;
    }
}


.btn-facebook {
    outline: 1px solid #3b5998;
    color: #3b5998;

    &:hover,
    &:focus {
        background-color: #3b5998;
        color: #fff;
    }
}


.btn-twitter {
    outline: 1px solid #55acee;
    background-color: transparent;
    color: #55acee;

    &:hover,
    &:focus {
        background-color: #55acee;
        color: #fff;
    }
}