---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
  	<time class="post__meta" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
  		<span class="sr-only">Posté le</span>
        {% include date.html date=page.date %}
  	</time>
    <span class="post__meta">
      <span class="sr-only">Temps de lecture estimé</span>
      {% include readtime.html content=content %}
    </span>

    <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post__content" itemprop="articleBody">
    {{ content }}
  </div>


  <footer class="post__footer">
  	<span class="sr-only">Partagez l'article {{ page.title }}</span>

  	<a class="btn-twitter" href="https://twitter.com/home?status={{ page.title }}%20%E2%80%94%20{{ page.url | prepend: site.url }}">
      <svg class="icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
      Partager sur twitter
    </a>

    <a class="btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}">
      <svg class="icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
      Partager sur facebook
    </a>

  	<a href="#disqus_thread" class="btn-secondary js-show-comments" aria-expanded="false">
      <svg class="icon-comments"><use xlink:href="#icon-comments"></use></svg>
      Laisser un commentaire
    </a>
  </footer>
</article>
